{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static '/comedy/style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="pt-2">
  <div class="container-fluid">
    <div class="row" id="masthead">
      <div class="col-xs-6">
    <a href="https://www.thefoolscap.com" title="The Fool's Cap"><img class="img-fluid"
      alt="Jester hat logo" src="{% static "comedy/images/jesterhat.png" %}"></a></div>
      <div class="col-xs-6">
        <a href="https://www.thefoolscap.com" title="The Fool's Cap"><h1 id="name">The Fool's Cap</h1>
          <p id="moto">A Beacon Where The Sun Doesn’t Shine</p></a>
      </div>
    </div>
    <hr />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/news">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/local">Local</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/sports">Sports</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/entertainment">Entertainment</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/opinion">Opinion</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.thefoolscap.com/health">Health</a>
      </li>
    </ul>
  </div>
</nav>
  <main>
      {% block content %}{% endblock %}
    </main>
     <div class="card">
       <div class="card-footer">
         <ul class="list-unstyled list-inline text-center">
           <li class="list-inline-item">
             <a href="https://www.facebook.com/The-Fools-Cap-110153200380331">
             <i class="fa">&#xf082;</i></a>
         </ul>
      </div> 
     </div>  
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% load google_analytics_tags %}
  <div style="display:none">
      <img src="{% google_analytics %}" width="0" height="0" />
  </div>
 </body>
</html>
