{% extends "comedy/base.html" %}
{% load social_share %}
{% block title %}Local | The Fool's Cap{% endblock %}

{% block content %}
  <h2 class="section-header">Sports</h2>
  <hr />
  {% for article in art %}
  {% if article.rank == 1 %}
    <div class="row">
      <div class="col-sm-6">
        <div class="vl">
          <a href="{% url 'detail' article.slug  article.id %}">
            <div class="text-center">
              <img src="{{ article.pic.url }}" class="img-fluid">
            </div>
            <h1 class="title">{{ article.headline }}</h1>
              <p>{{ article.pub_date|date:"F j, Y" }}</p>
              <p class="article">{{ article.content|truncatewords:"30" }}</p></a>
          </div>
          <hr class="firstline" />
      </div>
      <div class="col-sm-3"></div>
  {% elif article.rank == 2 %}
      <div class="col-sm-3 order-sm-first">
        <a href="{% url 'detail' article.slug  article.id %}">
          <div class="text-center">
            <img src="{{ article.pic.url }}" class="img-second">
          </div>
          <h2 class="title-two">{{ article.headline }}</h2>
            <p>{{ article.pub_date|date:"F j, Y" }}</p>
            <p class="article">{{ article.content|truncatewords:"20" }}</p></a>
            <hr />
        </div>
       </div>
  {% else %}
    <div class="row" id="secondary">
      <div class="col-sm-3">
        <a href="{% url 'detail' article.slug  article.id %}">
          <div class="text-center">
            <img src="{{ article.pic.url }}" class="img-second">
          </div>
          <h2 class="title-two">{{ article.headline }}</h2>
            <p>{{ article.pub_date|date:"F j, Y" }}</p>
            <p class="article">{{ article.content|truncatewords:"20" }}</p></a>
            <hr />
          </div>
        </div>
  {% endif %}
{% endfor %}

  <div class="row">
    <div class="col-sm">
  <div class="row" id="social">
{% post_to_facebook object_or_url %}{% post_to_gplus object_or_url %}{% post_to_twitter object_or_url  %}
    </div>
  </div>
</div>
{% endblock %}
